@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --font-sans:
    'Geist', 'Geist Fallback', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-mono:
    'Geist Mono', 'Geist Mono Fallback', source-code-pro, Menlo, Monaco,
    Consolas, 'Courier New', monospace;
  --base-50: lab(98.2487% 0.13262 -0.472021);
  --base-100: lab(96.1486% 0.269413 -0.982153);
  --base-200: lab(90.6739% 0.53075 -1.9261);
  --base-300: lab(84.966% 0.806063 -2.9036);
  --base-400: lab(65.6739% 1.21629 -4.34661);
  --base-500: lab(47.8878% 1.65495 -5.77277);
  --base-600: lab(35.1389% 1.52317 -5.29942);
  --base-700: lab(26.8115% 1.2424 -4.32693);
  --base-800: lab(15.7118% 0.831872 -2.88485);
  --base-900: lab(8.31261% 0.542074 -1.9154);
  --base-950: lab(2.51549% 0.19104 -0.702733);
  --base-1000: lab(0.793976% 0.0596121 -0.219867);
  --destructive: lab(48.4493% 77.4328 61.5452);
  --fc-event-text-color: lab(100% 0 0);
  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--base-950);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-300);
  --secondary-foreground: var(--base-800);
  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);
  --accent: var(--base-200);
  --accent-foreground: var(--base-800);
  --destructive: #e40014;
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--base-800);
  --chart-1: var(--base-950);
  --chart-2: var(--base-600);
  --chart-3: var(--base-800);
  --chart-4: var(--base-400);
  --chart-5: var(--base-300);
  --radius: 0.5rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--base-950);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--base-800);
  --display-weight: 700;
  --fc-button-bg-color: var(--primary);
  --fc-button-hover-bg-color: var(--primary);
  --fc-button-active-bg-color: var(--primary);
  --fc-button-hover-border-color: transparent;
  --fc-button-active-border-color: transparent;
  --fc-button-border-color: transparent;
  --fc-event-border-color: transparent;
  --fc-event-text-color: #fff;
  --fc-border-color: var(--border);
  --fc-page-bg-color: var(--muted);
  --fc-today-bg-color: var(--muted);
  --sidebar-width: calc(var(--spacing) * 64);
  --sidebar-width-icon: 3rem;
  --header-height: calc(var(--spacing) * 14);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: var(--font-mono);
  }

  [data-slot='button'],
  [data-slot='dialog-trigger'],
  [data-slot='dropdown-menu-item'],
  [data-slot='command-item'],
  [data-slot='toggle-group-item'],
  [data-slot='dropdown-menu-trigger'],
  [data-slot='popover-trigger'],
  [data-slot='tooltip-trigger'],
  [data-slot='collapsible-trigger'] {
    cursor: pointer !important;
  }
}

